# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt
*.pro.user
*.pro.user.*

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# visual sdudio
**/.vscode

.DS_Store

BlankProject/
CS106/
hello/
StanfordCPPLib/

assignments/
!src/
